.container{
  position: relative;
  min-height: 100vh;
  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  button{
    background: transparent;
    border: none;
    color: white;
  }
}

