@import './variables.scss';
.noteswrapper {
  width: 80%;
  margin: auto;

  @media screen and (min-width: $md) {
    width: 60%;
  }

  
}

.notescontainer {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
